.headerStyleWest {
    background-color: #002049;
    color: #ffffff; 
  }

  .headerStyleEast {
    background-color: #960000;
    color: #ffffff; 
  }

  thead {
    text-align: center;
    background-color: rgb(1, 58, 104);
    color: white;

}
  th {
    text-align: center;

  }
  
  td {
    text-align: center;

  }

  .logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    object-position: center;
  }
  
  