.table-container {
    width: 100%;
    height: auto;
    display: block;
    overflow-x: auto;
    padding: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

.playoff-odds-table {
    table-layout: fixed;
    width: 100%;
}

.playoff-odds-table th:first-child,
.playoff-odds-table td:first-child {
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    vertical-align: middle;
}


.stat-td {
    text-align: center;
    vertical-align: middle;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

.logo-container {
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    justify-content: center;
}

.logo {
    width: 28px;
    height: 28px;
    margin-right: 5px;
}


.division-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 20px;
}


.conference-table {
  width: 100%;
  margin: 0; /* remove extra margins */
}


/* mobile */
@media (max-width: 900px) {
.division-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 0;
}
}

.playoff-odds-table {
  margin-bottom: 0;
}


@media (max-width: 768px) {
    .table {
        font-size: 14px;
    }

    .logo {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }

    .stat-td {
        font-size: 14px;
    }

    .playoff-odds-table th:first-child,
.playoff-odds-table td:first-child {
    width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logo-container {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 14px;
}

}
