.table-container {
    width: 100vw;
    height: auto;
    display: block;
    overflow-x: auto;
    padding: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.playoff-odds-table {
    table-layout: fixed;
    width: 100%;
}

.playoff-odds-table th:first-child,
.playoff-odds-table td:first-child {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.stat-td {
    text-align: center;
    vertical-align: middle;
    font-family: 'Bebas Neue', sans-serif;
}

.logo-container {
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
}

.logo {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .table {
        font-size: 14px;
    }

    .logo {
        width: 18px;
        height: 18px;
        margin-right: 5px;
    }

    .p {
        font-size: 0.5rem;
    }

    .playoff-odds-table th:first-child,
.playoff-odds-table td:first-child {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

}
