.results-table {
    table-layout: fixed;
    width: 100%;
}

.final-stat-td {
    text-align: center;
    vertical-align: middle;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

.results-logo-container {
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    justify-content: center;
}

.results-logo {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.results-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}

.results-header h1 {
  margin: 0;
  font-size: 28px;
}

.conference-wrapper {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .final-stat-td {
    font-size: 16px;
}

.results-logo-container {
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16px;
    justify-content: center;
}

/* .results-logo {
    width: 15px;
    height: 15px;
} */
}